@charset "utf-8";
#J_SiteNavHome {
  display: none;
}
.site-nav-status-login .site-nav-login .site-nav-sign {
  display: none;
}
.site-nav-status-login .site-nav-login .site-nav-menu-hd .site-nav-login-info-nick {
  display: inline-block;
  max-width: 98px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-nav-status-login .site-nav-login .site-nav-menu-hd .site-nav-vip-icon {
  margin-top: 12px;
  width: 18px;
  height: 12px;
  background: url(../images/taobao/TB1Z_HcQFXXXXc7apXXXXXXXXXX-26-71.png) 0 0 no-repeat;
  background-size: 17px auto;
}
.tmsg_panel_apps,
.tmsg_panel_detail,
.tmsg_panel_history,
.tmsg_panel_setting {
  width: 288px;
  border: 1px solid #EEE;
  border-top: none;
  position: absolute;
  background: #FFF;
  box-shadow: 1px 1px 2px #ddd;
  z-index: 10000000000;
}
.tmsg_panel_title {
  font-size: 14px;
  color: #222;
}
.tmsg_error {
  padding: 0 35px;
}
.tmsg_error_pic {
  width: 218px;
  height: 140px;
  margin: auto 0;
}
.tmsg_error_pic_type1 {
  background: url(../images/taobao/T1g2x8FEBcXXc.b8bx-148-124.png) no-repeat center center;
}
.tmsg_button_check-prev-msgs {
  display: block;
  width: 148px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  background: #FFF0E8;
  color: #6D6D6D;
  border: 1px solid #FFE8DE;
  margin: 0 auto 8px;
}
.tmsg_error_notice {
  text-align: center;
  font-size: 14px;
  margin: 30px 0 10px 0;
}
.tmsg_button_read-all {
  width: 12px;
  height: 12px;
  background-position: 0 -158px;
  position: absolute;
  top: 13px;
  right: 17px;
}
.tmsg_panel_head {
  height: 37px;
  line-height: 37px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #EEE;
}
.tmsg_button_feedback,
.tmsg_button_setting {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
}
.tmsg_button_setting {
  background-position: 0 -132px;
  left: 17px;
}
.tmsg_button_feedback {
  background-position: 0 -145px;
  left: 37px;
}
.tmsg_button_check-all_wrap {
  line-height: 100%;
  position: absolute;
  top: 9px;
  right: 17px;
}
.tmsg_panel_foot {
  height: 32px;
  border-top: 1px solid #EEE;
  position: relative;
}
.tmsg_app_list_item_tip_fixie-num,
.tmsg_app_list_item_tip_fixie-num i,
.tmsg_app_settilg-item_button-edit,
.tmsg_app_settilg-item_edit,
.tmsg_app_title_app-name,
.tmsg_button_close-app,
.tmsg_button_deploy-app,
.tmsg_button_feedback,
.tmsg_button_go-back,
.tmsg_button_linkout-to-app,
.tmsg_button_more,
.tmsg_button_read-all,
.tmsg_button_setting {
  background-image: url(../images/taobao/T1uJd2FD8bXXbA0cQR-80-170.png);
  background-repeat: no-repeat;
  display: block;
  text-indent: -200px;
  overflow: hidden;
}
.site-nav {
  z-index: 10000;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  zoom: 1;
}
.site-nav .tmsg_logo_area {
  float: left;
}
.site-nav .tmsg {
  display: inline;
  float: left;
  text-align: left;
  position: relative;
  z-index: 102400;
}
.site-nav .tmsg .site-nav-menu .tmsg_logo_icon {
  line-height: 0;
  width: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  *display: inline;
  _display: inline-block;
}
.site-nav .site-nav-bd {
  margin: 0 auto;
  width: 1190px;
  height: 35px;
  background: #f5f5f5;
  -webkit-backface-visibility: hidden;
  zoom: 1;
}
.site-nav .site-nav-bd .site-nav-bd-l {
  float: left;
}
.site-nav .site-nav-bd .site-nav-bd-r {
  float: right;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-pipe {
  float: left;
  height: 35px;
  line-height: 35px;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-icon {
  width: 12px;
}
.site-nav .site-nav-bd .h {
  color: #f22e00 !important;
}
.site-nav .site-nav-bd .site-nav-pipe {
  padding: 0 5px;
  font-style: normal;
  color: #ddd;
}
.site-nav .site-nav-bd a {
  color: #3c3c3c;
}
.site-nav .site-nav-menu {
  float: left;
}
.site-nav .site-nav-menu .site-nav-menu-hd {
  z-index: 10002;
  position: relative;
  padding: 0 6px;
  height: 35px;
  line-height: 35px;
}
.site-nav .site-nav-menu .site-nav-menu-hd .site-nav-region {
  float: left;
  margin-right: 7px;
}
.site-nav .site-nav-menu .site-nav-menu-hd a {
  float: left;
  margin-right: 7px;
  font-size: 12px;
  color: #6C6C6C;
}
.site-nav .site-nav-menu .site-nav-menu-hd a:hover {
  color: #F40;
}
.site-nav .site-nav-menu .site-nav-menu-hd a:hover .site-nav-icon {
  color: #f40;
}
.site-nav .site-nav-menu .site-nav-menu-hd a span {
  float: left;
  cursor: pointer;
}
.site-nav .site-nav-menu .site-nav-menu-bd {
  z-index: 10001;
  position: relative;
  display: none;
  margin-top: -1px;
}
.site-nav .site-nav-menu .site-nav-menu-bd .site-nav-menu-bd-panel {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEE;
  background: #FFF;
}
.site-nav .site-nav-menu .site-nav-menu-bd .site-nav-menu-panel {
  overflow: hidden;
  position: absolute;
  right: 0;
  left: auto;
  width: 988px;
  min-height: 258px;
  line-height: normal;
  border: 1px solid #eee;
  background: #fff;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel {
  padding: 8px 0;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a {
  display: block;
  padding: 0 5px;
  line-height: 28px;
  white-space: nowrap;
  color: #6C6C6C;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a:hover {
  color: #6C6C6C;
  background: #F5F5F5;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a span {
  margin-left: 5px;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel .site-nav-btn {
  margin: 5px 8px 0;
  color: #FFF;
  line-height: 25px;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel .site-nav-btn:hover {
  color: #FFF;
  background: #F40;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-region-item {
  width: 242px;
  height: 29px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-region-item:hover {
  background-color: #f4f4f4;
}
.site-nav .site-nav-menu-hover:hover .site-nav-menu-bd {
  display: block;
}
.site-nav .site-nav-menu-hover:hover .site-nav-menu-hd {
  padding: 0 5px;
  border-width: 0 1px;
  border-style: solid;
  border-color: #EEE;
  background: #FFF;
}
.site-nav .site-nav-arrow {
  display: block;
  float: left;
  width: 12px;
  height: 6px;
  line-height: 6px;
  overflow: hidden;
  margin-top: 16px;
}
.site-nav .site-nav-arrow .site-nav-icon {
  display: block;
}
.site-nav .site-nav-icon {
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
  color: #9c9c9c;
}
.site-nav .site-nav-region-list {
  padding-top: 8px;
  max-height: 270px;
  overflow-y: scroll;
  border: 1px solid #f4f4f4;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod {
  float: left;
  width: 25%;
  overflow: hidden;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(1) .site-nav-sitemap-mod-wrap a:hover {
  background-color: #f50;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(2) .site-nav-sitemap-mod-wrap a:hover {
  background-color: #a0b959;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(3) .site-nav-sitemap-mod-wrap a:hover {
  background-color: #df61ab;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(4) .site-nav-sitemap-mod-wrap {
  border-right: none;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(4) .site-nav-sitemap-mod-wrap a:hover {
  background-color: #52a0e5;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap {
  padding: 5px;
  border-right: 1px solid #eee;
  overflow: hidden;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap h4 {
  margin: 5px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap li {
  *position: relative;
  float: left;
  padding-top: 5px;
  width: 30%;
  height: 25px;
  overflow: hidden;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a {
  position: relative;
  float: left;
  height: 25px;
  line-height: 25px;
  margin: 0 2px;
  padding: 0 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a:after {
  content: "";
  display: table;
  clear: both;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a:hover {
  color: #fff;
  background-color: #f50;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a i {
  position: absolute;
  top: -5px;
  right: 0;
  display: block;
  width: 9px;
  height: 14px;
  overflow: hidden;
}
.site-nav .site-nav-sitemap .site-nav-menu-bd .site-nav-menu-panel {
  overflow: hidden;
  position: absolute;
  right: 0;
  left: auto;
  width: 988px;
  min-height: 258px;
  line-height: normal;
  border: 1px solid #eee;
  background: #fff;
}
.site-nav .site-nav-sitemap .hot {
  background: url(images/taobao/T1hOy5XhNnXXXXXXXX-9-14.gif) no-repeat;
}
.site-nav .site-nav-sitemap .new {
  background: url(images/taobao/T1lni5XhXXXXXXXXXX-9-14.gif) no-repeat;
}
.site-nav .site-nav-icon-highlight {
  color: #f40;
}
.site-nav:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  position: relative;
  margin: 60px auto 0;
  padding: 7px 0 9px;
  border-top: 1px solid #ddd;
  width: 1200px;
}
.footer .footer-hd p {
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
}
.footer .footer-bd span,
.footer .footer-hd span {
  margin: 0 4px;
}
.footer .footer-bd span,
.footer .footer-hd span,
.footer .footer-bd em,
.footer .footer-hd em {
  float: left;
  white-space: nowrap;
  color: #9C9C9C;
}
.footer .footer-bd p,
.footer .footer-hd p {
  padding-bottom: 8px;
  overflow: hidden;
  *zoom: 1;
}
.footer .footer-bd b,
.footer .footer-hd b {
  float: left;
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
.footer .footer-bd a,
.footer .footer-hd a {
  float: left;
  margin: 0 4px;
  white-space: nowrap;
  color: #6c6c6c;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.tbg-header {
  width: 950px;
  margin: 0 auto;
}
.tbg-logo {
  padding: 16px 0 4px 0;
}
.content {
  width: 750px;
  margin: 20px auto 10px;
  border-top: 4px solid #ff8801;
}
.tbg-menu {
  width: 142px;
  float: left;
}
.tbg-menu li {
  height: 35px;
  width: 142px;
}
.tbg-menu li a {
  display: block;
  height: 35px;
  width: 142px;
}
.tbg-menu .about-taobao a {
  background: url(../images/taobao/T1EeJBXclcXXXXXXXX-284-242.png) -142px 0 no-repeat;
}
.tbg-menu .about-intro a {
  background: url(../images/taobao/T1EeJBXclcXXXXXXXX-284-242.png) 0px -35px no-repeat;
}
.tbg-menu .taobao-news a {
  background: url(../images/taobao/T1EeJBXclcXXXXXXXX-284-242.png) 0px -70px no-repeat;
}
.tbg-menu .taobao-service a {
  background: url(../images/taobao/T1EeJBXclcXXXXXXXX-284-242.png) 0px -105px no-repeat;
}
.tbg-menu .taobao-partner a {
  background: url(../images/taobao/T1EeJBXclcXXXXXXXX-284-242.png) 0px -140px no-repeat;
}
.tbg-menu .taobao-talent a {
  background: url(../images/taobao/T1EeJBXclcXXXXXXXX-284-242.png) 0px -210px no-repeat;
}
.right-info {
  float: left;
  margin-left: 8px;
  margin-bottom: 10px;
}
.inner {
  width: 596px;
  margin-top: 10px;
  border: 2px solid #f1f1f1;
  border-top: 0;
  padding-top: 40px;
}
.taobao-intro {
  background: url(../images/taobao/T1eKJBXflcXXXXXXXX-596-25.png) no-repeat #f6f6f6;
}
.taobao-intro p {
  margin: 0 0 0 15px;
  width: 570px;
  text-indent: 2em;
  line-height: 1.5em;
}
.mores {
  width: 100%;
  height: 20px;
  padding-top: 10px;
}
.mores a {
  display: block;
  float: right;
  width: 37px;
  height: 11px;
  font-size: 12px;
  margin-right: 15px;
}
.news {
  margin-top: 10px;
  width: 600px;
}
.news a {
  color: #333;
}
.news .mores {
  background: url(../images/taobao/T1U1RBXcFbXXXXXXXX-295-11.png) left bottom no-repeat;
}
.news .corp-news {
  float: left;
  width: 295px;
  background: url(../images/taobao/T1ouJBXeXcXXXXXXXX-295-30.png) no-repeat #f6f6f6;
}
.news .corp-news ul {
  margin: 40px 0 0 15px;
}
.news .corp-news ul li {
  padding-left: 10px;
  line-height: 21px;
  background: url(../images/taobao/T1aKtBXX0cXXXXXXXX-4-4.png) 0 8px no-repeat;
  text-align: left;
}
.news .media-news {
  float: right;
  width: 295px;
  background: url(../images/taobao/T1u1JBXdxcXXXXXXXX-295-30.png) no-repeat #f6f6f6;
}
.news .media-news ul {
  margin: 40px 0 0 15px;
}
.news .media-news ul li {
  padding-left: 10px;
  line-height: 21px;
  background: url(../images/taobao/T1aKtBXX0cXXXXXXXX-4-4.png) 0 8px no-repeat;
}
