@charset "utf-8";
#J_SiteNavHome {
  display: none;
}
.site-nav {
  z-index: 10000;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  zoom: 1;
}
.site-nav .site-nav-bd {
  margin: 0 auto;
  width: 1190px;
  height: 35px;
  background: #f5f5f5;
  -webkit-backface-visibility: hidden;
  zoom: 1;
}
.site-nav .site-nav-bd .site-nav-bd-l {
  float: left;
}
.site-nav .site-nav-bd .site-nav-bd-r {
  float: right;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-pipe {
  float: left;
  height: 35px;
  line-height: 35px;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-icon {
  width: 12px;
}
.site-nav .site-nav-bd .h {
  color: #f22e00 !important;
}
.site-nav .site-nav-bd .site-nav-pipe {
  padding: 0 5px;
  font-style: normal;
  color: #ddd;
}
.site-nav .site-nav-bd a {
  color: #3c3c3c;
}
.site-nav .site-nav-menu {
  float: left;
}
.site-nav .site-nav-menu .site-nav-menu-hd {
  z-index: 10002;
  position: relative;
  padding: 0 6px;
  height: 35px;
  line-height: 35px;
}
.site-nav .site-nav-menu .site-nav-menu-hd .site-nav-region {
  float: left;
  margin-right: 7px;
}
.site-nav .site-nav-menu .site-nav-menu-hd a {
  float: left;
  margin-right: 7px;
  font-size: 12px;
  color: #6C6C6C;
}
.site-nav .site-nav-menu .site-nav-menu-hd a:hover {
  color: #F40;
}
.site-nav .site-nav-menu .site-nav-menu-hd a:hover .site-nav-icon {
  color: #f40;
}
.site-nav .site-nav-menu .site-nav-menu-hd a span {
  float: left;
  cursor: pointer;
}
.site-nav .site-nav-menu .site-nav-menu-bd {
  z-index: 10001;
  position: relative;
  display: none;
  margin-top: -1px;
}
.site-nav .site-nav-menu .site-nav-menu-bd .site-nav-menu-bd-panel {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEE;
  background: #FFF;
}
.site-nav .site-nav-menu .site-nav-menu-bd .site-nav-menu-panel {
  overflow: hidden;
  position: absolute;
  right: 0;
  left: auto;
  width: 988px;
  min-height: 258px;
  line-height: normal;
  border: 1px solid #eee;
  background: #fff;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel {
  padding: 8px 0;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a {
  display: block;
  padding: 0 5px;
  line-height: 28px;
  white-space: nowrap;
  color: #6C6C6C;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a:hover {
  color: #6C6C6C;
  background: #F5F5F5;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a span {
  margin-left: 5px;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel .site-nav-btn {
  margin: 5px 8px 0;
  color: #FFF;
  line-height: 25px;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel .site-nav-btn:hover {
  color: #FFF;
  background: #F40;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-region-item {
  width: 242px;
  height: 29px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
}
.site-nav .site-nav-menu .site-nav-menu-list .site-nav-region-item:hover {
  background-color: #f4f4f4;
}
.site-nav .site-nav-menu-hover:hover .site-nav-menu-bd {
  display: block;
}
.site-nav .site-nav-menu-hover:hover .site-nav-menu-hd {
  padding: 0 5px;
  border-width: 0 1px;
  border-style: solid;
  border-color: #EEE;
  background: #FFF;
}
.site-nav .site-nav-arrow {
  display: block;
  float: left;
  width: 12px;
  height: 6px;
  line-height: 6px;
  overflow: hidden;
  margin-top: 16px;
}
.site-nav .site-nav-arrow .site-nav-icon {
  display: block;
}
.site-nav .site-nav-icon {
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
  color: #9c9c9c;
}
.site-nav .site-nav-region-list {
  padding-top: 8px;
  max-height: 270px;
  overflow-y: scroll;
  border: 1px solid #f4f4f4;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod {
  float: left;
  width: 25%;
  overflow: hidden;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(1) .site-nav-sitemap-mod-wrap a:hover {
  background-color: #f50;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(2) .site-nav-sitemap-mod-wrap a:hover {
  background-color: #a0b959;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(3) .site-nav-sitemap-mod-wrap a:hover {
  background-color: #df61ab;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(4) .site-nav-sitemap-mod-wrap {
  border-right: none;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(4) .site-nav-sitemap-mod-wrap a:hover {
  background-color: #52a0e5;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap {
  padding: 5px;
  border-right: 1px solid #eee;
  overflow: hidden;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap h4 {
  margin: 5px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap li {
  *position: relative;
  float: left;
  padding-top: 5px;
  width: 30%;
  height: 25px;
  overflow: hidden;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a {
  position: relative;
  float: left;
  height: 25px;
  line-height: 25px;
  margin: 0 2px;
  padding: 0 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a:after {
  content: "";
  display: table;
  clear: both;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a:hover {
  color: #fff;
  background-color: #f50;
}
.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a i {
  position: absolute;
  top: -5px;
  right: 0;
  display: block;
  width: 9px;
  height: 14px;
  overflow: hidden;
}
.site-nav .site-nav-sitemap .site-nav-menu-bd .site-nav-menu-panel {
  overflow: hidden;
  position: absolute;
  right: 0;
  left: auto;
  width: 988px;
  min-height: 258px;
  line-height: normal;
  border: 1px solid #eee;
  background: #fff;
}
.site-nav .site-nav-sitemap .hot {
  background: url(images/taobao/T1hOy5XhNnXXXXXXXX-9-14.gif) no-repeat;
}
.site-nav .site-nav-sitemap .new {
  background: url(images/taobao/T1lni5XhXXXXXXXXXX-9-14.gif) no-repeat;
}
.site-nav .site-nav-icon-highlight {
  color: #f40;
}
.site-nav:after {
  content: "";
  display: table;
  clear: both;
}
body {
  color: #3C3C3C;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f4f4;
}
.top {
  background-color: #FFF;
  padding-top: 24px;
  height: 97px;
}
.bottom,
.seat,
.top-wrap {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.J_Module {
  min-height: 0;
  background-color: #FFF;
}
.tb-pass {
  background-color: transparent;
}
.tbh-logo {
  float: left;
  width: 190px;
}
.logo {
  width: 190px;
  height: 80px;
  float: left;
  margin-top: 8px;
}
.logo h1 {
  position: relative;
}
.logo h1 .logo-bd {
  display: block;
  margin-left: 22px;
  padding-top: 58px;
  width: 142px;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/taobao/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png) 0 0 no-repeat;
}
.logo h2 {
  display: none;
}
.logo h2 a {
  display: block;
  padding-top: 33px;
  width: 80px;
  height: 0;
  text-indent: -9999px;
  overflow: hidden;
  background: url(images/taobao/TB1TGfMcwMPMeJjy1XbXXcwxVXa-80-33.png) 0 0 no-repeat;
}
.tbh-search {
  margin-left: 258px;
  margin-right: 302px;
}
.tbh-search .search-panel {
  position: relative;
}
.tbh-search {
  background-color: transparent;
}
.tbh-search {
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  transition: width .2s;
}
.search-wrap {
  position: relative;
}
.search-bd {
  z-index: 30;
  position: relative;
  transform: translateZ(0);
}
.search-bd .search-triggers {
  height: 22px;
  margin-left: 17px;
}
.search-bd .search-triggers li {
  color: #F40;
  text-align: center;
  float: left;
  width: 36px;
  height: 22px;
  line-height: 22px;
  margin-right: 4px;
  cursor: pointer;
}
.search-bd .search-triggers li:hover {
  background-color: #FFEEE5;
  color: #FF5400;
}
.search-bd .search-triggers .selected {
  color: #FFF;
  font-weight: 700;
  background-image: -webkit-linear-gradient(left, #ff9000 0, #ff5000 100%);
  background-image: -o-linear-gradient(left, #ff9000 0, #ff5000 100%);
  background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.search-bd .search-panel .search-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  width: 74px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.search-bd .search-panel .search-button .btn-search {
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  background-color: #FF4200;
  cursor: pointer;
  height: 100%;
  border: none;
  width: 100%;
}
.search-bd .search-panel .search-common-panel {
  margin-right: 74px;
  border: 2px solid #ff5000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  overflow: hidden;
  height: 36px;
}
.search-bd .search-panel .search-common-panel:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 36px;
  border: 2px solid #ff5000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 20px;
  border-right: none;
}
.search-bd .search-panel .search-common-panel label {
  z-index: 2;
  position: absolute;
  top: 11px;
  left: 34px;
  color: #9C9C9C;
  cursor: text;
  touch-action: none;
  -ms-touch-action: none;
  pointer-events: none;
  -ms-pointer-events: none;
  -webkit-user-select: none;
}
.search-bd .search-panel .search-common-panel .search-combobox-input-wrap {
  height: 36px;
  overflow: hidden;
  width: 472px;
}
.search-bd .search-panel .search-common-panel #q {
  padding: 6px 0;
  text-indent: 10px;
  height: 24px;
  line-height: 24px;
  width: 472px;
  border: none;
  outline: 0;
  background: #FFF;
  *margin-top: -2px;
}
.search-bd .search-panel i {
  z-index: 2;
  font-size: 16px;
  position: absolute;
  top: 9px;
  left: 14px;
  color: #666;
}
.tb-bg {
  background-image: -webkit-linear-gradient(left, #ff9000 0, #ff5000 100%);
  background-image: -o-linear-gradient(left, #ff9000 0, #ff5000 100%);
  background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);
}
.search-combobox {
  font-size: 12px;
}
.search-combobox-input-wrap {
  vertical-align: middle;
  position: relative;
}
.search-combobox-placeholcer span {
  display: none;
}
.search-imgsearch-panel {
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 3;
  height: 20px;
  width: 24px;
}
.tb-ifont {
  font-size: 14px;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.search-imgsearch-panel {
  position: absolute;
  top: 2px;
  right: 90px;
  display: none;
  height: 36px;
}
div.search-imgsearch-panel .tb-ifont {
  font-size: 24px;
  color: #999;
}
.search-ft {
  position: relative;
  padding: 5px 41px 0 0;
  height: 20px;
  overflow: hidden;
}
.search-hots-lines {
  height: 46px;
  position: relative;
  overflow: hidden;
}
.search-hots-fline {
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  margin-bottom: 5px;
}
.search-hots-fline a {
  white-space: nowrap;
}
.tbh-qr-wrapper {
  position: absolute;
  top: 0;
  right: 110px;
}
.tbh-qr {
  position: relative;
}
.qr {
  position: relative;
  top: 0;
  z-index: 2;
}
.qr .qr-bd {
  position: relative;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 74px;
  height: 88px;
  color: #666;
  border: 1px solid #eee;
  background-color: #FFF;
}
.qr .qr-bd span {
  line-height: 20px;
  margin: 4px auto 0;
  width: 78px;
}
.qr .qr-bd img {
  display: block;
  margin-left: 6px;
  width: 62px;
  height: 62px;
}
.qr .qr-ft {
  position: absolute;
  top: 0;
  left: -16px;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #eee;
}
.qr .qr-ft s {
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #DDD;
}
.tbh-nav .nav {
  height: 30px;
  line-height: 30px;
  position: relative;
  color: #fff;
}
.tbh-nav h2 {
  float: left;
  width: 190px;
  text-align: center;
  font-size: 16px;
  background: #ff5000;
}
.tbh-nav ul {
  position: relative;
  z-index: 5;
}
.tbh-nav li {
  float: left;
  *display: inline;
}
.tbh-nav li a {
  color: inherit;
}
.tbh-nav .nav-hd {
  float: left;
  *display: inline;
  font-size: 16px;
  font-weight: 700;
}
.tbh-nav .nav-hd li {
  margin: 0 3px;
  text-align: center;
  padding: 0 4px;
  position: relative;
}
.tbh-nav .nav-hd li .pipe:before {
  content: '';
}
.tbh-nav .nav-hd li:hover:before {
  content: '\e69a';
  font-family: iconfont;
  color: #ff5000;
  top: -12px;
  position: absolute;
  left: 50%;
  font-size: 24px;
  margin-left: -15px;
  height: 14px;
  overflow: hidden;
}
.tbh-nav .nav-hd a {
  float: left;
  *display: inline;
  padding: 0 5px;
  font-weight: 700;
  position: relative;
  z-index: 10;
}
.tbh-nav .nav-bd {
  float: left;
  *display: inline;
  font-size: 14px;
}
.tbh-nav .nav-bd li {
  margin-left: 7px;
  position: relative;
}
.tbh-nav .nav-bd li.pipe:before {
  content: '';
}
.tbh-nav .nav-bd li:hover:before {
  content: '\e69a';
  font-family: iconfont;
  color: #ff5000;
  top: -12px;
  position: absolute;
  left: 50%;
  font-size: 24px;
  margin-left: -15px;
  height: 14px;
  overflow: hidden;
}
.tbh-nav .nav-bd a {
  float: left;
  *display: inline;
  padding: 0 5px;
  font-weight: 700;
  position: relative;
  z-index: 10;
}
div.tbh-nav .nav {
  width: 1190px;
  margin: 0 auto;
}
.screen-outer {
  width: 1190px;
  margin: 0 auto;
  height: 632px;
}
.main {
  float: left;
  width: 900px;
  height: 100%;
  clear: left;
}
.main .core {
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  height: 512px;
  width: 520px;
}
.tbh-promo,
.tbh-tmall {
  width: 520px;
}
.tmall-nav {
  position: absolute;
  top: 29px;
  height: 3px;
  line-height: 0;
  width: 520px;
  font-size: 0;
}
.tmall-nav .selected {
  background: #000;
}
.tmall-nav li:nth-child(1),
.tmall-nav li:nth-child(2),
.tmall-nav li:nth-child(3),
.tmall-nav li:nth-child(4) {
  width: 87px;
}
.tmall-nav li {
  display: inline-block;
  width: 86px;
  height: 3px;
  background: #ff1648;
  overflow: hidden;
  margin: 0;
  line-height: 0;
  font-size: 0;
}
.loading,
.tb-loading {
  background-image: url(../images/taobao/TB1BlobNFXXXXXyXXXXXXXXXXXX-34-34.gif);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 40px;
}
.promo {
  position: relative;
  width: 520px;
  height: 280px;
  overflow: hidden;
  *zoom: 1;
}
.promo:after,
.promo:before {
  content: " ";
  display: table;
}
.promo:after {
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.promo:hover .sld-ft-opt {
  display: block;
  z-index: 5;
  opacity: 1;
}
.promo-bd {
  position: relative;
  width: 520px;
  overflow: hidden;
  height: 280px;
}
.promo-bd a {
  position: relative;
  display: block;
}
.promo-bd a .mask {
  position: absolute;
  background-image: url(../images/taobao/lunbot/TB1E6loXaagSKJjy0FgXXcRqFXa-520-280.png);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.promo-bd img {
  display: block;
}
.promo-bd .mod {
  width: 520px;
  height: 280px;
  *zoom: 1;
}
.promo-bd .mod:after,
.promo-bd .mod:before {
  content: " ";
  display: table;
}
.promo-bd .mod:after {
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.promo-bd > div {
  position: absolute;
  top: 0;
}
.promo-bd > div > div {
  float: left;
  overflow: hidden;
  width: 520px;
  display: block;
  visibility: visible;
}
.tb-loading {
  background-color: #FFF;
}
.tbh-service {
  position: relative;
}
.tbh-service {
  float: left;
  width: 190px;
}
.J_Service {
  height: 522px;
  position: relative;
  font-size: 14px;
  color: #fff;
  width: 190px;
}
.service-bd {
  border: 1px solid #ff5000;
  border-top: none;
  padding-top: 5px;
  padding-bottom: 3px;
}
.service-bd li {
  overflow: hidden;
  line-height: 32px;
  height: 32px;
  padding-left: 25px;
  padding-right: 19px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  width: 145px;
  color: #666;
}
.service-bd li.on {
  background-color: #ffe4dc;
  color: #FF5000;
}
.service-bd li .service-arrow {
  position: absolute;
  right: 10px;
  font-size: 12px;
}
.service-bd a {
  color: #666;
}
.a-all {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.service-float {
  transform: translateZ(0);
  display: none;
  position: absolute;
  left: 188px;
  top: 0;
  padding: 0 0 0 18px;
  width: 692px;
  height: 518px;
  border: 2px solid #F94A14;
  box-shadow: 2px 2px 0 #dcdadb;
  background-color: #FFF;
  color: #333;
  font-size: 12px;
  z-index: 22;
}
.service-fi-links {
  padding-top: 10px;
  width: 415px;
  height: 490px;
  overflow: hidden;
  padding-right: 12px;
  padding-left: 10px;
  float: left;
}
.service-rmd {
  float: left;
  width: 253px;
  border-left: 1px solid #f4f4f4;
  position: relative;
  height: 498px;
  padding-top: 20px;
}
.service-rmd h3 {
  line-height: 18px;
  color: #333;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}
.service-rmd a {
  display: block;
  width: 97px;
  height: 143px;
  padding: 10px 0 0 20px;
  overflow: hidden;
  float: left;
}
.service-panel {
  font-size: 12px;
  margin-bottom: 5px;
}
.service-panel h5 {
  position: relative;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #333;
}
.service-panel h5 span {
  font-size: 12px;
  right: -6px;
  position: absolute;
  font-weight: 400;
  top: 0;
}
.service-panel h5 span .tb-ifont {
  position: relative;
  left: -4px;
  font-size: 12px;
}
.service-panel p {
  height: 104px;
  overflow: hidden;
  padding-bottom: 33px;
  line-height: 26px;
}
.service-panel p a {
  color: #666;
  display: inline-block;
  margin-right: 12px;
  white-space: nowrap;
}
.service-rmd-list .img-wrapper {
  width: 97px;
  height: 97px;
  overflow: hidden;
}
.service-rmd-list h5 {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  overflow: hidden;
  font-weight: 400;
  color: #999;
}
.service-rmd-list img {
  display: block;
  width: 98px;
  height: 97px;
}
.img-wrapper {
  background: #4f4f4f;
}
.img-wrapper img {
  opacity: .9;
}
.img-wrapper img {
  background: #fff;
  opacity: .9;
  filter: alpha(opacity=90);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.text {
  position: absolute;
  right: 0;
  top: 65px;
  width: 220px;
  padding: 0 10px;
  z-index: 2;
  font-weight: bolder;
  text-align: center;
}
.shorttitle {
  width: 178px;
  margin: auto;
  height: 100px;
  line-height: 50px;
  font-size: 44px;
  font-weight: 600;
  overflow: hidden;
  color: var(--shorttitle-color);
}
.sld-ft-opt {
  display: none;
  z-index: 0;
  opacity: 0;
}
.sld-ft-opt .prev {
  left: 0;
}
.sld-ft-opt .next {
  right: 0;
}
.sld-ft-opt a.prev {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-clip: padding-box;
}
.sld-ft-opt a.next {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-clip: padding-box;
  z-index: 3;
}
.sld-ft-opt a {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  height: 30px;
  width: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
.sld-ft-opt i {
  line-height: 30px;
  color: #fff;
}
.sld-ft-nav {
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  height: 13px;
  text-align: center;
  font-size: 0;
  left: 50%;
  margin-left: -39px;
  background-color: rgba(255, 255, 255, 0.3);
}
.sld-ft-nav li {
  display: inline-block;
  margin: 3px;
}
.sld-ft-nav li a {
  display: block;
  padding-top: 8px;
  width: 8px;
  height: 0;
  border-radius: 50%;
  background: #fff;
}
.sld-ft-nav li.selected a {
  background: #ff5000;
}
.tmall {
  position: relative;
  width: 520px;
  height: 230px;
  margin-top: 1px;
  overflow: hidden;
}
.tmall:hover .sld-ft-opt {
  display: block;
  z-index: 5;
  opacity: 1;
}
.tmall .tanx-wrapper.column-2 {
  background-color: #fff;
}
.tmall .tanx-wrapper.column-2 ins {
  width: 250px;
  height: 155px;
  margin-top: 22px !important;
  margin-left: 7px !important;
  display: inline-block;
  position: relative;
}
.tmall .tanx-wrapper.column-2 ins a {
  display: block;
}
.tmall .tanx-wrapper.column-2 ins a img {
  height: 155px !important;
}
.tmall .mod {
  position: relative;
  width: 520px;
  height: 201px;
  float: left;
  overflow: hidden;
  display: block;
  visibility: visible;
}
.tmall .mod a {
  width: 130px;
  height: 201px;
  float: left;
  background-color: #fff;
}
.tmall .mod-loaded a {
  border-color: #ebebeb;
}
.tmall .mod-2 a {
  margin-top: 6px;
  width: 251px;
  height: 190px;
  overflow: hidden;
  margin-left: 6px;
}
.tmall .mod-2 a img {
  width: 100%;
  height: 100%;
}
.tmall .mod-12 a {
  float: left;
  width: 129px;
  height: 57px;
  text-align: center;
  border: 0;
  padding: 5px 0;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
}
.tmall .mod-12 a img {
  width: 84px;
  height: auto;
  margin-top: 10px;
}
.tmall .tmall-bd {
  width: 520px;
  overflow: hidden;
  height: 201px;
}
.tmall .tmall-bd > div {
  position: absolute;
  overflow: hidden;
  transition-duration: 0.3s;
  opacity: 1;
  left: 0;
  width: 3640px;
}
.tmall .tmall-bd > div > .mod {
  float: left;
}
.tmall-hd {
  font-size: 14px;
  padding-top: 11px;
  border-bottom: 3px solid #ff1648;
  position: relative;
  background-color: #f1f1f1;
}
.tmall-hd .inner {
  height: 18px;
  line-height: 18px;
  position: relative;
}
.tmall-hd .hd-bg {
  width: 136px;
  position: absolute;
  height: 19px;
  background-repeat: no-repeat;
  background-position: 2px 0;
  background-size: 122px 22px;
  background-image: url(../images/taobao/tianmao.png);
}
.tmall-hd em {
  font-size: 12px;
  color: #666;
  position: relative;
  margin-left: 136px;
}
.tmall-hd strong {
  position: absolute;
  right: 0;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.tmall-hd strong i {
  font-style: normal;
  color: #ff1648;
}
.sub-column {
  float: right;
  width: 160px;
  height: 512px;
  margin-right: 10px;
  margin-top: 10px;
}
.tbh-focus {
  overflow: hidden;
  height: 280px;
  background-color: #FFF;
}
.hd-tanx {
  overflow: hidden;
  height: 280px;
  background-color: #FFF;
}
.hb-tanx-down {
  margin-top: 1px;
  height: 230px;
}
.hb-tanx-down h5 {
  font-size: 12px;
  font-weight: 400;
  background: #f1f1f1;
  color: #a1a1a1;
  line-height: 24px;
  padding-top: 6px;
}
.tbh-headline {
  width: 890px;
  height: 100px;
}
.headline {
  position: relative;
  padding: 14px 14px 12px 20px;
  margin-top: 10px;
  background: #fff;
}
.headline .more {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  z-index: 1;
  background: #fff;
  color: #999;
  width: 40px;
  text-align: right;
}
.headline h3 {
  width: 180px;
  height: 73px;
  float: left;
  background: url(../images/taobao/toutiao.png) 0 14px no-repeat;
}
.headline h3 p {
  margin-top: 42px;
}
.mod-hd {
  position: relative;
}
.mod-hd .mlogo {
  height: 24px;
  margin-right: 5px;
}
.mod-hd p {
  line-height: 24px;
  height: 24px;
  color: #999;
  font-weight: 400;
}
.mod-hd .tb-qr {
  font-size: 20px;
  margin: 0;
  color: #ccc;
  position: relative;
  top: -1px;
}
.mod-hd .tb-fn {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #999;
  width: 100px;
  text-align: right;
}
.mod-hd .tb-fn .more {
  margin-left: 14px;
  color: inherit;
}
.mod-hd .tb-fn .more,
.mod-hd .tb-fn .switch {
  cursor: pointer;
  font-weight: 400;
}
.mod-hd .qr-wrapper {
  position: relative;
  float: left;
  width: 26px;
  text-align: center;
  height: 24px;
}
.mod-hd .qr-wrapper:hover .a-all {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 26px;
  z-index: 5;
}
.mod-hd .qr-wrapper .a-all {
  position: absolute;
  left: -17px;
  top: 20px;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 66px;
  height: 80px;
  padding: 10px;
  background: #fff;
  z-index: -1;
  border: 1px solid #f0f0f0;
}
.mod-hd .qr-wrapper .a-all img {
  width: 66px;
  height: 66px;
}
.mod-hd .qr-wrapper .a-all em {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 3px;
  text-align: center;
  color: #666;
  font-weight: 400;
  font-size: 12px;
}
.headline-bd {
  overflow: hidden;
  position: relative;
  height: 73px;
  margin-left: 180px;
}
.headline-bd a {
  display: block;
  height: 73px;
}
.headline-bd .mod {
  width: 676px;
  float: none;
  overflow: hidden;
  height: 73px;
  display: block;
}
.headline-bd .mod img {
  float: left;
  height: 73px;
  width: 130px;
}
.headline-bd .mod h4 {
  margin-top: 2px;
  margin-left: 144px;
  color: #333;
  height: 28px;
  overflow: hidden;
  display: block;
  line-height: 28px;
  font-size: 16px;
  font-weight: 500;
}
.headline-bd .mod p {
  margin-left: 144px;
  color: #999;
  height: 36px;
  overflow: hidden;
  line-height: 18px;
  font-size: 14px;
}
.headline-bd:hover > div {
  animation-play-state: paused;
}
.headline-bd > div {
  position: absolute;
  height: 219px;
  overflow: hidden;
  top: 0px;
  transition-duration: 0.3s;
  backface-visibility: hidden;
  opacity: 1;
  animation: lunbo 10s linear infinite;
}
@keyframes lunbo {
  0% {
    top: 0px;
  }
  33% {
    top: 0px;
  }
  34% {
    top: -73px;
  }
  66% {
    top: -73px;
  }
  67% {
    top: -146px;
  }
  99% {
    top: -146px;
  }
  100% {
    top: 0px;
  }
}
.col-right {
  position: relative;
}
.col-right {
  float: right;
  width: 290px;
  height: 100%;
  margin-top: 10px;
}
.tbh-member {
  background-size: 290px 145px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../images/taobao/denglubg.png);
}
.tbh-member .tbh-icon {
  background-position: 0 -572.5px;
}
.member-tjb {
  height: 17px;
  line-height: 17px;
}
.member-tjb .h {
  display: inline-block;
  border-radius: 9px;
  background-clip: padding-box;
  background: #ffe4db;
  padding: 0 10px 0 20px;
  position: relative;
  border: none;
}
.member-tjb .tbh-icon {
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  height: 16px;
  width: 16px;
}
.member-tjb .club {
  margin-left: 2px;
}
.member-tjb .club .tbh-icon {
  background-position: 0 -528px;
}
.member {
  padding: 3px 0 10px 0;
  height: 132px;
  padding-right: inherit;
  text-align: center;
  background-repeat: no-repeat;
}
.member-bd {
  position: relative;
  height: 91px;
}
.member-bd .member-home {
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  background-clip: padding-box;
  width: 50px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.member-bd .member-avatar {
  width: 50px;
  height: 50px;
}
.member-bd .avatar-wrapper {
  display: block;
  margin: 0 auto;
  width: 74px;
  height: 56px;
}
.member-bd .member-nick-info {
  display: block;
  line-height: 17px;
  height: 17px;
}
.member-bd .member-nick {
  font-weight: 400;
}
.member-ft {
  height: 40px;
  overflow: hidden;
  margin-top: 2px;
  padding-left: 15px;
}
.member-logout {
  height: 25px;
  margin-top: 8px;
}
.member-logout .btn-login {
  width: 92px;
}
.member-logout a {
  float: left;
  line-height: 25px;
  width: 75px;
  margin-right: 7px;
  text-align: center;
  color: #FFF;
  background-image: linear-gradient(to right, #ff5000 0, #ff6f06 100%);
  background-repeat: repeat-x;
  border-radius: 4px;
  background-clip: padding-box;
  font-size: 14px;
  font-weight: 700;
}
.tbh-icon {
  background: url(../images/taobao/bgjl.png) 0 0 no-repeat;
}
.tbh-tipoff a {
  position: relative;
  padding-left: 82px;
  color: #f40;
  display: block;
  height: 26px;
  line-height: 26px;
  background: #ffe4dd;
  font-size: 12px;
}
.tbh-tipoff span {
  position: absolute;
  right: 52px;
  top: 9px;
  line-height: 0;
  width: 0;
  height: 0;
  border-style: solid;
  margin-left: 32px;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent #f40;
}
.tbh-notice {
  height: 98px;
  padding-top: 10px;
  width: 290px;
}
.tbh-notice .first li:first-child {
  width: 260px;
}
.tbh-notice .notice-bd .mod {
  margin: 0 12px;
  height: 50px;
  overflow: hidden;
  padding-top: 9px;
  padding-bottom: 6px;
}
.tbh-notice .notice-bd .mod li {
  float: left;
  *display: inline;
  line-height: 25px;
  height: 25px;
  width: 130px;
  overflow: hidden;
}
.tbh-notice .notice-hd {
  position: relative;
  height: 24px;
  margin-top: 4px;
  overflow: hidden;
  margin-right: -2px;
  padding: 0 8px;
}
.tbh-notice .notice-hd .selected {
  padding: 0;
  font-weight: 700;
  border-bottom: 2px solid #F40;
}
.tbh-notice .notice-hd li {
  float: left;
  *display: inline;
  line-height: 20px;
  width: 32px;
  text-align: center;
  margin: 0 11px;
}
.conve_on {
  position: relative;
}
.conve {
  border-top: 1px solid #f4f4f4;
}
.conve .conve .conve-float {
  overflow: visible;
}
.conve .mod {
  overflow: hidden;
}
.conve-list {
  width: 294px;
}
.conve-list a {
  padding-top: 1px;
  text-align: center;
  display: block;
}
.conve-list a .conve-item-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 11px;
  background-repeat: no-repeat;
}
.conve-list li.min {
  width: 70px;
}
.conve-list li {
  float: left;
  width: 71px;
  height: 75px;
  border: 1px solid #f4f4f4;
  border-left-color: transparent;
  border-top-color: transparent;
}
.tbh-conve .conve-item-1 .tbh-icon {
  background-position: 0 0;
}
.tbh-conve .conve-item-2 .tbh-icon {
  background-position: 0 -87px;
}
.tbh-conve .conve-item-3 .tbh-icon {
  background-position: 0 -44px;
}
.tbh-conve .conve-item-4 .tbh-icon {
  background-position: 0 -132px;
}
.tbh-conve .conve-item-5 .tbh-icon {
  background-position: 0 -176px;
}
.tbh-conve .conve-item-6 .tbh-icon {
  background-position: 0 -220px;
}
.tbh-conve .conve-item-7 .tbh-icon {
  background-position: 0 -264px;
}
.tbh-conve .conve-item-8 .tbh-icon {
  background-position: 0 -308px;
}
.tbh-conve .conve-item-9 .tbh-icon {
  background-position: 0 -352px;
}
.tbh-conve .conve-item-10 .tbh-icon {
  background-position: 0 -396px;
}
.tbh-conve .conve-item-11 .tbh-icon {
  background-position: 0 -440px;
}
.tbh-conve .conve-item-12 .tbh-icon {
  background-position: 0 -484px;
}
.tbh-app {
  padding-top: 1px;
  position: relative;
}
div.apps {
  margin-top: 0;
}
.apps {
  position: relative;
  height: 110px;
}
.apps .more {
  position: absolute;
  right: 10px;
  font-size: 12px;
  font-weight: 400;
}
.apps .more .tb-ifont {
  position: relative;
  left: -4px;
  font-size: 12px;
}
.apps h3 {
  font-size: 14px;
  padding-left: 14px;
  height: 30px;
  line-height: 30px;
  position: relative;
  z-index: 2;
}
.apps-nav {
  padding-left: 23px;
  position: relative;
  height: 84px;
}
.apps-nav .app-qr {
  touch-action: none;
  bottom: 39px;
  left: -32px;
  width: 90px;
  height: 102px;
  background: #FFF;
  border: 1px solid #dedede;
  text-align: center;
  display: none;
  position: absolute;
  z-index: -1;
}
.apps-nav .app-qr img {
  width: 66px;
  height: 66px;
  padding: 12px;
}
.apps-nav li {
  transition: all 0s;
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 21px;
  margin-bottom: 8px;
}
.apps-nav li:hover .app-qr {
  z-index: 22;
  display: block;
}
.apps-nav li a img {
  width: 32px;
  height: 32px;
}
.layer {
  width: 1190px;
  margin: 0 auto;
}
.layer-inner {
  margin-top: 10px;
}
.have-fun,
.tbh-discover-goods,
.tbh-helper,
.tbh-live {
  position: relative;
}
.tbh-discover-goods,
.tbh-shopping {
  width: 590px;
  float: left;
  height: 658px;
}
.tbh-shopping {
  width: 590px;
  float: left;
  margin-left: 10px;
  height: 658px;
}
.tbh-shopping .list {
  overflow: hidden;
  padding-left: 21px;
}
.tbh-shopping .list .name {
  margin-left: 30px;
  line-height: 22px;
  font-size: 12px;
  color: #999;
}
.tbh-shopping .list .pic-wrapper {
  float: left;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
}
.tbh-shopping .list .pic-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}
.tbh-shopping .list .tb-ifont {
  color: #ebebeb;
  float: left;
  margin-top: -4px;
  margin-right: 4px;
}
.tbh-shopping .list .extra {
  margin-top: 14px;
}
.tbh-shopping .list .subtitle {
  margin-top: 11px;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  font-size: 14px;
  color: #999;
}
.tbh-shopping .list .info {
  overflow: hidden;
  padding-left: 10px;
}
.tbh-shopping .list .img-wrapper img {
  width: 100%;
  height: 180px;
  display: block;
  background: #fff;
}
.tbh-shopping .list a {
  display: block;
}
.tbh-shopping .list li {
  float: left;
  width: 180px;
  overflow: hidden;
  margin: 0 4px 17px 0;
}
.tbh-shopping .list li:hover .subtitle {
  color: #ff5000;
}
.tbh-shopping .list li.second {
  margin-top: 18px;
}
.tbh-shopping .shopping-hd .mlogo {
  height: 23px;
}
.ml6 {
  margin-left: 6px;
}
.fl {
  float: left;
}
.com-hd {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.goods-list {
  overflow: hidden;
  padding-left: 21px;
}
.goods-list a {
  display: block;
  float: left;
  width: 180px;
  overflow: hidden;
  margin: 0 4px 17px 0;
}
.goods-list a.second {
  margin-top: 18px;
}
.goods-list a p {
  line-height: 24px;
  color: #999;
  font-size: 14px;
  overflow: hidden;
  height: 24px;
}
.goods-list a p.extra {
  line-height: 22px;
  height: 22px;
  margin-top: 12px;
  color: #35b1ff;
}
.goods-list a p.extra .tb-ifont {
  margin-right: 4px;
}
.goods-list a h4 {
  margin-top: 5px;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  line-height: 28px;
  font-weight: normal;
}
.goods-list a .info {
  overflow: hidden;
  padding: 0 4px 0 6px;
}
.goods-list a .img-wrapper img {
  width: 100%;
  height: 180px;
  display: block;
}
.brand-item .mlogo {
  height: 24px;
  margin-right: 5px;
}
.brand-item .qr-wrapper {
  position: relative;
  float: left;
  width: 26px;
  text-align: center;
  height: 24px;
}
.brand-item .qr-wrapper:hover .a-all {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 26px;
  z-index: 5;
}
.brand-item .qr-wrapper .a-all {
  position: absolute;
  left: -17px;
  top: 20px;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 66px;
  height: 80px;
  padding: 10px;
  background: #fff;
  z-index: -1;
  border: 1px solid #f0f0f0;
}
.brand-item .qr-wrapper .a-all img {
  width: 66px;
  height: 66px;
}
.brand-item .qr-wrapper .a-all em {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 3px;
  text-align: center;
  color: #666;
  font-weight: 400;
  font-size: 12px;
}
.img-wrapper {
  background: #4f4f4f;
  overflow: hidden;
}
.img-wrapper:hover img {
  opacity: .8;
  filter: alpha(opacity=80);
}
.img-wrapper img {
  background: #fff;
  opacity: .9;
  transition: all .2s;
}
.layer {
  width: 1190px;
  margin: 0 auto;
}
.layer-inner {
  margin-top: 10px;
}
.tbh-qiang {
  height: 264px;
  overflow: hidden;
}
.qiang-inner {
  height: 264px;
  overflow: hidden;
}
.qiang-inner .progress {
  position: relative;
  width: 159px;
  height: 6px;
  border-radius: 3px;
  background-clip: padding-box;
  background: #FFE4Dc;
}
.qiang-inner .progress .progress-bar {
  position: absolute;
  width: 25%;
  left: 0;
  top: 0;
  height: 6px;
  border-radius: 3px;
  background-clip: padding-box;
  background: #FE3338;
}
.qiang-inner .yan,
.qiang-inner .cur {
  font-size: 20px;
  color: #ff5000;
}
.qiang-inner .yan {
  font-size: 12px;
}
.qiang-inner .price {
  color: #999;
  margin-left: 6px;
  text-decoration: line-through;
}
.qiang-inner .desc {
  line-height: 28px;
  height: 28px;
  color: #FE3338;
}
.qiang-inner .desc .letter {
  float: right;
  width: 100px;
  text-align: right;
}
.qiang-inner .title {
  margin-top: 12px;
  line-height: 28px;
  color: #999;
}
.qiang-inner .info {
  margin-left: 194px;
  overflow: hidden;
}
.qiang-inner .img-wrapper {
  float: left;
  width: 180px;
  height: 180px;
}
.qiang-inner .img-wrapper img {
  width: 101%;
  height: 100%;
  display: block;
}
.qiang-inner li {
  float: left;
  width: 355px;
  padding: 0 20px 0 20px;
}
.qiang-inner li a {
  display: block;
}
.qiang-inner .countdown-wrapper {
  color: #ff5000;
  line-height: 20px;
  height: 20px;
  margin-top: 2px;
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.qiang-inner .countdown-wrapper .hour,
.qiang-inner .countdown-wrapper .minutes,
.qiang-inner .countdown-wrapper .seconds {
  width: 20px;
  height: 20px;
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-align: center;
  color: #ff5000;
  background: #FFE4DC;
  border-radius: 2px;
  background-clip: padding-box;
  font-family: sans-serif;
  margin: 0 2px;
  font-weight: 700;
  font-family: arial;
}
.qiang-inner h4 {
  margin-top: 11px;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  font-size: 16px;
  color: #333;
  font-weight: normal;
}
.qiang-inner .qiang-hd .mlogo {
  height: 22px;
}
