.site-nav .site-nav-icon {
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    _line-height: 33px;
    margin-right: 5px;
    color: #9c9c9c
}

.site-nav .site-nav-menu-hd a:hover .site-nav-icon {
    color: #f40
}

.site-nav .site-nav-bd-r .site-nav-icon {
    width: 12px
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap h4 {
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap {
    padding: 5px;
    border-right: 1px solid #eee;
    overflow: hidden;
}

.site-nav .site-nav-icon-highlight {
    color: #f40
}

.site-nav .site-nav-arrow {
    display: block;
    float: left;
    width: 12px;
    height: 6px;
    line-height: 6px;
    overflow: hidden;
    margin-top: 16px
}

.site-nav .site-nav-arrow .site-nav-icon {
    display: block;
    margin-right: 20px
}

.site-nav {
    z-index: 10000;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    zoom: 1
}

.site-nav .site-nav-region-list {
    padding-top: 8px;
    max-height: 270px;
    overflow-y: scroll;
    border: 1px solid #f4f4f4;
}

.site-nav .site-nav-region-list .site-nav-region-item.active,
.site-nav .site-nav-region-list .site-nav-region-item:hover {
    background-color: #f4f4f4;
}

.site-nav .site-nav-region-list .site-nav-region-item {
    width: 242px;
    height: 29px;
    line-height: 29px;
    padding-left: 8px;
    cursor: pointer;
}

.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel {
    padding: 8px 0;
}

.site-nav:after {
    content: "";
    display: table;
    clear: both
}

.site-nav textarea {
    display: none
}

.site-nav .site-nav-bd {
    margin: 0 auto;
    width: 1190px;
    height: 35px;
    background: #f5f5f5;
    zoom: 1
}

.site-nav .site-nav-bd:after {
    content: "";
    display: table;
    clear: both
}

.site-nav .site-nav-bd a {
    color: #3c3c3c
}

.site-nav .site-nav-bd a:hover {
    color: #f40;
    text-decoration: none
}

.site-nav .site-nav-bd .site-nav-pipe {
    padding: 0 5px;
    font-style: normal;
    color: #ddd
}

.site-nav .site-nav-bd .site-nav-bd-l {
    float: left;
    /* visibility: hidden */
}

.site-nav .site-nav-bd .site-nav-bd-r {
    float: right
}

.site-nav .site-nav-bd .site-nav-bd-r .site-nav-pipe {
    float: left;
    height: 35px;
    line-height: 35px
}

.site-nav .site-nav-bd .h {
    color: #f22e00!important
}

.site-nav .site-nav-bd .site-nav-btn {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    background: #f40;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.site-nav .site-nav-bd .site-nav-btn:hover {
    color: #fff;
    background: #f40
}

.site-nav-status-login .site-nav-bd .site-nav-bd-l,
.site-nav-status-logout .site-nav-bd .site-nav-bd-l {
    /* visibility: visible */
}

.ie-updator-67 .browser-updator {
    display: none
}

.site-nav .site-nav-menu {
    float: left
}

.site-nav .site-nav-menu .site-nav-menu-hd {
    z-index: 10002;
    position: relative;
    padding: 0 6px;
    height: 35px;
    line-height: 35px;
    _display: inline;
    _zoom: 1
}

.site-nav .site-nav-menu .site-nav-menu-hd a {
    float: left;
    margin-right: 7px;
    font-size: 12px;
    color: #6C6C6C
}

.site-nav .site-nav-menu .site-nav-menu-hd a:hover {
    color: #F40
}

.site-nav .site-nav-menu .site-nav-menu-hd a span {
    float: left;
    cursor: pointer
}

.site-nav .site-nav-menu .site-nav-menu-bd {
    z-index: 10001;
    position: relative;
    display: none;
    margin-top: -1px
}

.site-nav .site-nav-menu .site-nav-menu-bd .site-nav-menu-bd-panel {
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px;
    line-height: normal;
    border: 1px solid #EEE;
    background: #FFF
}

.site-nav .site-nav-menu .site-nav-menu-bd .site-nav-menu-iframe-shim {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background: 0 0;
    filter: alpha(Opacity=0);
    opacity: 0
}

.site-nav .site-nav-menu .site-nav-menu-empty .site-nav-menu-hd i {
    display: none
}

.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel {
    padding: 8px 0
}

.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a {
    display: block;
    padding: 0 5px;
    line-height: 28px;
    white-space: nowrap;
    color: #6C6C6C
}

.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a:hover {
    color: #6C6C6C;
    background: #F5F5F5
}

.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a span {
    margin-left: 5px
}

.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel .site-nav-btn {
    margin: 5px 8px 0;
    color: #FFF;
    line-height: 25px
}

.site-nav .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel .site-nav-btn:hover {
    color: #FFF;
    background: #F40
}

.site-nav .site-nav-switch .site-nav-region {
    float: left;
    margin-right: 7px;
}

.site-nav .site-nav-menu-hover:hover .site-nav-menu-hd {
    padding: 0 5px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #EEE;
    background: #FFF
}

#J_SiteNavHome {
    display: none;
}

.site-nav-tmsg {
    display: none;
}

.site-nav-status-logout .site-nav-login .site-nav-menu-bd,
.site-nav-status-logout .site-nav-login .site-nav-user {
    display: none;
}

.site-nav .site-nav-menu-hover:hover .site-nav-menu-bd {
    display: block
}

.site-nav-cbu-cover {
    background: #000;
    width: 100%;
    height: 3000px;
    opacity: .3;
    filter: alpha(opacity=30);
    position: fixed;
    _position: absolute;
    top: 0;
    z-index: 100000000
}

.site-nav-cbu-cover iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: mask();
    width: 100%;
    height: 100%
}

.site-nav-cbu-iframe {
    width: 630px;
    height: 340px;
    border: 0 none;
    z-index: 100000001;
    position: fixed;
    _position: absolute;
    top: 25%;
    left: 25%
}

.site-nav .site-nav-login .site-nav-menu-hd .site-nav-login-info-nick {
    display: inline-block;
    max-width: 98px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.site-nav .site-nav-login .site-nav-menu-hd .site-nav-login-info-nick.super {
    color: #b6976b
}

.site-nav .site-nav-login .site-nav-menu-hd .site-nav-vip-icon {
    margin-top: 12px;
    width: 18px;
    height: 12px;
    background: url(//img.alicdn.com/tfs/TB1Z_HcQFXXXXc7apXXXXXXXXXX-26-71.png) 0 0 no-repeat;
    background-size: 17px auto
}

.site-nav .site-nav-login .site-nav-menu-hd .site-nav-vip-icon.ie8 {
    background-image: url(//img.alicdn.com/tfs/TB1Rr31QVXXXXXrapXXXXXXXXXX-17-46.png)
}

.site-nav .site-nav-login .site-nav-menu-hd .site-nav-vip-icon.super {
    background-position: 0 -18px
}

.site-nav .site-nav-login .site-nav-menu-hd .site-nav-vip-icon.apass {
    margin-top: 11px;
    background-position: 0 -35px
}

.site-nav .site-nav-login .site-nav-menu-bd .site-nav-menu-bd-panel {
    width: 248px
}

.site-nav .site-nav-login .site-nav-menu-bd .site-nav-user-privilege {
    display: block;
    text-align: center;
    border: 1px solid #FFE8DE;
    background: #FFF0E8;
    padding: 4px 0
}

.site-nav .site-nav-login .site-nav-menu-bd .tao-score {
    margin-top: 5px
}

.site-nav .site-nav-login .site-nav-menu-bd .level-info {
    color: #3c3c3c
}

.site-nav .site-nav-login .site-nav-menu-bd .level-info.super {
    color: #c98d46
}

.site-nav .site-nav-login .site-nav-menu-bd .site-nav-user-info {
    height: 80px;
    overflow: hidden;
    *zoom: 1
}

.site-nav .site-nav-login .site-nav-menu-bd .site-nav-user-info p {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    *zoom: 1
}

.site-nav .site-nav-login .site-nav-menu-bd .site-nav-user-info .site-nav-user-operate {
    text-align: right
}

.site-nav .site-nav-login .site-nav-menu-bd .site-nav-user-wrapper {
    float: left;
    margin-right: 10px;
    margin-left: 9px;
    width: 62px;
    height: 62px;
    padding: 9px;
    box-sizing: content-box
}

.site-nav .site-nav-login .site-nav-menu-bd .site-nav-user-wrapper.super {
    background: url(//img.alicdn.com/tfs/TB16U6nQFXXXXarXVXXXXXXXXXX-28-28.png) 48px -5px no-repeat
}

.site-nav .site-nav-login .site-nav-menu-bd .site-nav-user-wrapper.apass {
    background: url(//img.alicdn.com/tfs/TB1XKvpQFXXXXaWXVXXXXXXXXXX-28-28.png) 51px -3px no-repeat
}

.site-nav .site-nav-login .site-nav-menu-bd .site-nav-user-avatar {
    display: block;
    overflow: hidden;
    border: 3px solid #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.site-nav .site-nav-login .site-nav-menu-bd .site-nav-user-avatar img {
    display: block;
    width: 56px;
    height: 56px
}

.site-nav-status-logout .site-nav-login .site-nav-menu-bd,
.site-nav-status-logout .site-nav-login .site-nav-user {
    display: none
}

.site-nav-status-login .site-nav-login .site-nav-sign {
    display: none
}

.site-nav .mini-cart .site-nav-menu-bd .site-nav-menu-bd-panel {
    width: 296px;
    line-height: 20px;
    min-height: 40px;
    background: #fff url(//img.alicdn.com/tps/i3/T1b1m3XkVpXXXXXXXX-32-32.gif) no-repeat 50% 50%
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-ready {
    background: #fff
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-closed {
    background: #fff;
    width: 105px
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-hd {
    padding: 10px 0
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-bd {
    border-bottom: 1px solid #EEE;
    overflow: hidden;
    *zoom: 1
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-bd li {
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
    *zoom: 1
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-bd .mini-cart-img {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    text-align: center
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-bd .mini-cart-img a {
    display: inline;
    position: static;
    line-height: 1.5
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-bd .mini-cart-img a img {
    vertical-align: middle
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-title {
    height: 20px;
    overflow: hidden;
    *zoom: 1
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-title a {
    float: left;
    width: 168px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-info {
    height: 20px;
    overflow: hidden;
    *zoom: 1;
    color: #9C9C9C
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-count {
    float: right
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-count .mini-cart-price {
    margin-left: 5px
}

.site-nav .mini-cart .site-nav-menu-bd .mini-cart-del {
    float: right
}

.site-nav .mini-cart .mini-cart-ft {
    text-align: right
}

.site-nav .mini-cart .mini-cart-ft p {
    margin-top: 10px
}

.site-nav .mini-cart .menu-hd .g-icon {
    color: #f40
}

.site-nav .site-nav-sitemap .hot {
    background: url(../images/taobao/T1hOy5XhNnXXXXXXXX-9-14.gif) no-repeat
}

.site-nav .site-nav-sitemap .new {
    background: url(../images/taobao/T1lni5XhXXXXXXXXXX-9-14.gif) no-repeat
}

.site-nav .site-nav-sitemap .site-nav-menu-bd .site-nav-menu-panel {
    overflow: hidden;
    position: absolute;
    right: 0;
    left: auto;
    width: 988px;
    min-height: 258px;
    line-height: normal;
    border: 1px solid #eee;
    background: #fff
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod {
    float: left;
    width: 25%;
    overflow: hidden
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap li {
    *position: relative;
    float: left;
    padding-top: 5px;
    width: 30%;
    height: 25px;
    overflow: hidden
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a {
    position: relative;
    float: left;
    height: 25px;
    line-height: 25px;
    margin: 0 2px;
    padding: 0 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a:after {
    content: "";
    display: table;
    clear: both
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a:hover {
    color: #fff;
    background-color: #f50
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod-wrap a i {
    position: absolute;
    top: -5px;
    right: 0;
    display: block;
    width: 9px;
    height: 14px;
    overflow: hidden
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(1) .site-nav-sitemap-mod-wrap a:hover {
    background-color: #f50
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(2) .site-nav-sitemap-mod-wrap a:hover {
    background-color: #a0b959
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(3) .site-nav-sitemap-mod-wrap a:hover {
    background-color: #df61ab
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(4) .site-nav-sitemap-mod-wrap {
    border-right: none
}

.site-nav .site-nav-sitemap .site-nav-sitemap-mod:nth-child(4) .site-nav-sitemap-mod-wrap a:hover {
    background-color: #52a0e5
}

.site-nav .tmsg {
    float: left
}

.site-nav .tmsg .site-nav-menu .tmsg_icon {
    _padding-top: 9px
}

.site-nav .tmsg .site-nav-menu .tmsg_loading {
    margin: -5px 5px 0 0;
    vertical-align: middle
}

.site-nav .tmsg .site-nav-menu .tmsg_logo_icon {
    line-height: 0;
    width: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    *display: inline;
    _display: inline-block
}

.site-nav .tmsg .site-nav-menu .tmsg_light-sign,
.site-nav .tmsg .site-nav-menu .tmsg_logo {
    display: none
}

.site-nav .tmsg_logo_loading {
    display: inline-block;
    width: 13px
}

.site-nav .tmsg_logo_area {
    float: left
}

.site-nav-status-logout .site-nav-tmsg {
    display: none
}

.site-nav .site-nav-weekend img {
    vertical-align: bottom
}

.site-nav .site-nav-weekend .site-nav-menu-hd {
    overflow: hidden
}

@media (max-width:1009px) {
    .site-nav .site-nav-weekend {
        display: none!important
    }
}


/* top css end */